body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dbeafe, #ede9fe);
  color: #222222;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #312e81;
  color: white;
}

section {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  font-size: 42px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
