img {
  border-radius: 16px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 2px solid #4f46e5;
  padding: 10px;
}

button {
  background-color: #312e81;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
}
